/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: rgba(238, 238, 238, 0.25);
}


.clear{
    clear: both;
}
.text-white{
    color: #fff;
}

.text-center{
    text-align: center;
}

.pull-right{
    float: right;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100% / 3);
}

.col-full{
    width: 100%;
}

.m-32{
    margin: 32px;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.dis-none{
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(131, 76, 76);
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav>li>a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    color: black;
    line-height: 38px;
    padding: 0 12px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn{
    float: right;
    padding: 0 21px;
}


#header .mobile-menu-btn:hover{
    background-color: #ccc;
}


#header .menu-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-menu{
    float: right;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 100px;
    border: none;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/Apple_bg.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-size: 40px;
    font-weight: 500;
}

#slider .text-description{
    font-weight: 700;
}

#content .content-section{
    width: 80%;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .iphone-list{
    padding-top: 32px;
}

#content .iphone-name{
    font-size: 20px;
    color: rgb(216, 0, 0);
}

#content .iphone-img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

#content .iphone-img:hover{
    cursor: pointer;
    border: 1px solid #ccc; 
    transform: scale(1.1);
    transition: 0.3s;
}

#content .iphone-name:hover{
    cursor: pointer;
    color: #000;
}

/* Begin:iPad */
#content .ipad-name {
    font-size: 20px;
    color: rgb(216, 0, 0);
}

#content .ipad-img {
    width: 200px;
    margin-top: 15px;
}

#content .ipad-list {
    padding-top: 32px;
} 

/* End:iPad */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background: white;
    width: 80%;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.45s;
}

.modal-header{
    background: #a86969;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-head-icon{
    margin-right: 16px;
}

.modal-close:hover{
    opacity: 1;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-info{
    font-size: 30px;
    padding-bottom: 16px;
}

.modal-price{
    font-size: 25px;
    text-align: center;
    padding-left: 70px;
}

.infor-pro{
    font-size: 20px;
    text-align: justify;
    padding-left: 100px;
}

.btn{
    color: #fff;
    background-color: rgb(131, 76, 76);
    text-decoration: none;
    width: 70%;
    padding: 11px 16px;
    margin-top: 32px;
    border: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-380px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}







